
            <footer class="text-center">
                <div class="container bottom">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>&copy;<script>document.write(new Date().getFullYear());</script>  | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://themewagon.com/">Annie</a></p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>                                                              <!-- Contact ends here -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
        <script type='js/javascript' src='js/custom.js'></script>
</html>
